<div class="sidebar-container">
  <div class="logo-section">
    <i class="fas fa-bars toggle-menu"></i>
  </div>

  <ul class="nav-menu">
    <li class="active"><i class="fas fa-th-large"></i> <span>dashboard</span></li>
    <li><i class="fas fa-users"></i> <span>Staff</span></li>
    <li><i class="fas fa-flask"></i> <span>Lab</span></li>
    <li><i class="fas fa-bed"></i> <span>Ward</span></li>
    <li><i class="fas fa-hand-holding-medical"></i> <span>Treatment</span></li>
    <li><i class="fas fa-pills"></i> <span>Pharmacy</span></li>
    <li><i class="fas fa-user-injured"></i> <span>Patient</span></li>
  </ul>
</div>